*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* height: 100%; */
    background-color: #f5f5f5;
}
:root{
    --container_padding:10px;

    --borderradius:10px;
    --first_color: #dee33e;
    --second_color:#9fa324;
    --third_color:#ffffff;
    --fourth_color:#000000;
    --font_sub_color:#515153;
}
.admin_dashboard_main{
    display: flex;
    /* position: relative; */
}
.dashboard_header{



    position: relative;
    top: 0;
    width: calc(100% - 250px);
    /* height: 60px; */
    left: 250px;
    background-color: var(--third_color);
    z-index: 1000;











    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: right; 
    /* margin: 0 auto; */
    justify-content: space-around;
    align-items: center;
    background-color: var(--third_color);
   
    /* width: calc(100%); */
    /* margin-left: 40% ; */
    background-color: #9fa324;
}
.left_header{
    border: 2px solid green;
    text-align: center;
}
.center_header{
    border: 2px solid green;
    
}
.center_header input[type=search]{
    border: none;
    padding: 10px;
}
.right_header{
    border: 2px solid green;
    display: flex;
    align-items: center;
}
.right_header .admin_img{
    width: 40px;
    height: fit-content;
    border-radius: 60%;
    border: 1px solid black;
    padding: 2px;
    
}
/* sidebar */
.dashboard_sidebar{
    /* display: none; */
    /* color: aqua; */
    position:fixed;
    top: 0;

    left: 0;
    

    background-color:var(--third_color);
    
    /* border: 2px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    padding: var(--container_padding);
    gap: 60px;
    /* top: -20px; */


}
.logo_name_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border:2px solid red; */
    width: 100%;
    padding: var(--container_padding);
    gap: 10px;
}
.name{
    /* font-size: 3rem; */
    /* border: 2px solid; */
}
.logo{
    font-size: 4rem;
    color: var(--first_color);
    

}
.logo_name_Container .name{
    font-size: 1rem;
}
/* navabr */
.dashboard_navbar{
    /* border: 2px solid red; */
}
.dashboard_navbar ul, li, a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
    /* background-color: ; */
}
.dashboard_navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* align-items:self-start; */
    /* padding: 10px; */
}
ul li{
    padding: 10px ;
    /* background-color: violet; */
    border-radius: var(--borderradius);
    cursor: pointer;
    /* padding: px;
     */
     /* margin: ; */
}

ul li:hover{
background-color: var(--second_color);
}
.icon{
    color: var(--first_color);
    font-size: x-large;
}
.currency{
    color: var(--second_color);
}
/* dashboard section */
.dashboard_Section{
    flex-grow: 1;






    border: 2px solid red;
    width: calc(100% - 250px);
    margin-left:250px ;
    
    
}
.top_dashboard{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    /* padding: 30px; */
    margin: 10px 0;
}
.income__container_title{
    width: 100%;
    text-align: center;
    padding: var(--container_padding);
}
.income_container{
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--third_color);
    border: 2px solid palegreen;
    padding: 10px;
    /* gap: 10px; */
}
.income_status{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p{
    color:var(--font_sub_color)
}
p span{
    color: var(--second_color);
}
