*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* height: 100%; */
    background-color:var(--third_color);
}
:root{
    --container_padding:10px;

    --borderradius:10px;
    --first_color: #dee33e;
    --second_color:#9fa324;
    --third_color:#e9e7e7;
    --fourth_color:#000000;
    --font_sub_color:#515153;
    --fourth_color: #f5f5f5;
}
/* <!-- main container with display grip to handle the layout of page --> */
.main_container{
display: grid;
grid-template-columns: 250px auto;
grid-template-rows: auto auto 1fr;
grid-template-areas: 
"sidebar header"
"sidebar dashboard"
"sidebar dashboard"
"sidebar dashboard"
"footer footer";
/* height: 1000; */

/* background-color: var(--first_color); */
}

/* sidebar */





.admin_dashboard_main{
    grid-area: dashboard;
}
.dashboard_header{
    grid-area: header;
    padding: 10px 0;
    gap: 20px;
    text-align: center;
    background-color: var(--third_color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--third_color);    */
    background-color: var(--fourth_color);
}

.left_header .garage_name{
    /* color: #000000; */
}

.center_header input[type=search]{
    /* border: none; */
    /* padding: 10px; */
    border: 2px solid rgba(0, 0, 0, 0.088);
    border-radius: 10px;
    background-image: url("/Assets/images/search_icon.png");
    background-color: var(--fourth_color);
    background-size: 20px; 
    background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
input::placeholder{
    padding: 5px;
    
}
.right_header{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    gap:10px;
}
.right_header .admin_img{
    width: 40px;
    /* height: fit-content; */
    border-radius: 60%;
    border: 1px solid black;
    padding: 2px;
    
}
/* dashboard section */
.dashboard_content_Section{
/* width: 100%; */
/* margin: 30px; */
    /* border: 2px solid red; */
    padding: 20px;
    /* box-sizing: border-box; */
}
.top_dashboard{
    display: grid;
    /* border: 2px solid rebeccapurple; */
grid-template-columns: repeat(3, 350px);
grid-template-areas: 
"graph1 graph2 graph3";
    column-gap: 10px;
  justify-content: space-around; 
  
    /* padding: 10px; */
    /* border: 2px solid black; */
    margin: 10px 0;
}
.income__container_title{
    width: 100%;
    text-align: center;
    padding: var(--container_padding);
}
.graph_container{
    
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 10px; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: var(--fourth_color);
    /* border: 2px solid palegreen; */
    padding: 10px;
    
border-radius: 10px;
}
.gc1{
grid-area: graph1;
}
.gc2{
    grid-area: graph2;
}
.gc3{
    grid-area: graph3;
}
.income_status{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p{
    color:var(--font_sub_color)
}
p span{
    color: var(--second_color);
}
/* recent booking table */
.dashboard_recent_booking_container{
    background-color: var(--fourth_color);
    
border-radius: 10px;
    /* box-sizing:content-box; */
    /* width: 80%; */
    /* border: 2px solid rebeccapurple; */
    /* padding: 40px; */
    /* margin: 10px; */
}
.dashboard_booking_table_container{
    height: 500px;
    /* height: 100%; */
    overflow: auto;
    background-color: var(--fourth_color);
}
.heading{
    /* border: 2px solid red; */
    color: var(--font_sub_color);
    padding: 20px 0;
}
.table{
    width: 100%;
    /* height: 100%; */
    /* border: 2px solid rgb(68, 0, 255); */
    overflow:auto;
    border-collapse: collapse;
    /* background-color: var(--fourth_color); */
    /* padding: 5px; */
}
th, td {
    padding: 10px;

    /* border:1px solid black; */
}
th{
    
}
.table-tit{
    border:2px solid black;
    /* position:fixed; */
    /* top: 0; */
}
td{
    /* padding-left: 15px; */
      border-bottom:2px solid rgba(0, 0, 0, 0.064);
    /* width: 10px; */
    text-align: center;
  }
  .dashboard_recent_booking_container{
    /* border: 2px solid orangered; */
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  /* footer */
  .footer{
    grid-area: footer;
    border: 2px solid black;
    padding: 20px;
    background-color: #9fa324;
    grid-column: 1/3;
    /* margin-bottom: 100px; */
    /* bottom: 10px; */
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
  }