*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Add Supplier Form CSS */
.main_form_container{
    background-color:var(--third_color);
    width: 100%;
height: 90vh;
padding: var(--buttonPadding);
    /* border: 2px solid blue; */

}
.div{
    background-color: var(--third_color);
    padding: var(--buttonPadding);
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;

    
}
.form_title{
    /* border: 2px solid yellow; */
    text-align: left;
    padding: 10px;
    background-color: var(--fourth_color);
    
}
.form_title,.form{
    border-radius: var(--border-radius);
}
.form{
    width: 600px;
    background-color: var(--fourth_color);
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    padding: calc(var(--buttonPadding) * 2);
    /* justify-content: space-around; */
    
}
.inputMain{
    width: 100%;
    padding: var(--buttonPadding);
    border-radius: var(--border-radius);
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    &:hover{
    box-shadow: 1px 3px 7px -2px black;
    }
}

input[type=text],
input[type=email],
input[type=date],
select,
textarea{
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.555);
    
    
}
.form_buttons{
    display: flex;
    gap: 30px;
}
.formButton {
    width: 150px;
    background-color: var(--first_color);
    border: none;
    border-radius: var(--border-radius);
    padding: 10px;
    cursor: pointer;
    color: var(--color01);
   
    font-size: 1rem;
    transition: transform 0.02s ease-in-out, background-color 0.2s ease-in-out;
  }
  .formButton:hover {
    background-color: var(--second_color);
    color: var(--third_color);
    border: 2px solid var(--);
  }
  .formButton:active {
    transform: scale(0.5);
  }

