ul li{
    /* display: none; */
    padding: 10px ;
   
    /* border-radius: var(--borderradius); */
    /* cursor: pointer; */
    
}
body{
    height: 100%;
    /* width: 500px; */
    /* border: 2px solid red; */
}
.dashboard_sidebar{
    grid-area: sidebar;
    background-color:var(--fourth_color);
    display: flex;
    flex-direction: column;
    gap: 60px; 
    height: 100%;
    /* border: 2px solid red; */
}
.logo_name_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    padding: var(--container_padding);
    gap: 10px;
}

.logo{
    font-size: 4rem;
    color: var(--first_color);
    

}
.logo_name_Container .name{
    font-size: 1rem;
}
/* navabr */

.dashboard_navbar ul, li, a {
    /* display: none; */
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
    /* background-color: ; */
}
.dashboard_navbar .main_menu_continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border: 2px solid red;
    padding: 10px;
   
}

.main_menu_continer .main_menu:hover {
background-color: var(--second_color);
padding: var(--buttonPadding);
border-radius: var(--border-radius);
}
.icon{
    color: var(--first_color);
    font-size: x-large;
}
.currency{
    color: var(--second_color);
}


/* for sub menues */
.submenu{
    display: none;
    padding-left: 35px;
    
}
.submenu.show{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    text-align: left;
    animation: fadeIn 0.4s ease-in-out;
}
.submenu li{
    width: 200px;
}
.submenu li:hover{
    text-overflow: ellipsis;
    background-color: var(--first_color);
    border-radius: var(--border-radius);
}

@keyframes fadeIn {
    from{
        opacity: 0; transform: translate(-5px);
    }
    to{
        opacity: 1; transform: translate(0);
    }
}
 
