/* File name :     Admin Dashboard CSS
Description :   This File contain the styling of for side bar.

Group Members :
c00298483 Adam Dowling
C00295140 Taemour Basharat
C00311349 Muhammad Fahad
C00297032 Emoshoke Saliu
C00290944 Gleb Tutubalin  */

ul li{
    padding: 10px ;
}
.dashboard_sidebar{
    grid-area: sidebar;
    background-color:var(--fourth_color);
    display: flex;
    flex-direction: column;
    gap: 60px; 
}
.logo_name_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--container_padding);
    gap: 10px;
}

.logo{
    font-size: 4rem;
    color: var(--first_color); 
}
.logo_name_Container .name{
    font-size: 1rem;
}
/* navabr */
.dashboard_navbar ul, li, a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
}
.dashboard_navbar .main_menu_continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.main_menu_continer .main_menu:hover {
background-color: var(--second_color);
padding: var(--buttonPadding);
border-radius: var(--border-radius);
}
.icon{
    color: var(--first_color);
    font-size: x-large;
}
.currency{
    color: var(--second_color);
}
/* from here the styling for sub-menue is start */
.submenu{
    display: none;
    padding-left: 35px;
}
.submenu.show{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    text-align: left;
    animation: fadeIn 0.4s ease-in-out;
}
.submenu li{
    width: 200px;
}
.submenu li:hover{
    text-overflow: ellipsis;
    background-color: var(--first_color);
    border-radius: var(--border-radius);
}
/* animation for sub-menue */
@keyframes fadeIn {
    from{
        opacity: 0; transform: translate(-5px);
    }
    to{
        opacity: 1; transform: translate(0);
    }
}
 
