ul li{
    /* display: none; */
    padding: 10px ;
   
    border-radius: var(--borderradius);
    cursor: pointer;
    
}
li.active
{
    /* display: block; */
}
.dashboard_sidebar{
    grid-area: sidebar;
   
    background-color:var(--fourth_color); 
    /* border: 2px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    gap: 60px; 


}
.logo_name_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    padding: var(--container_padding);
    gap: 10px;
}

.logo{
    font-size: 4rem;
    color: var(--first_color);
    

}
.logo_name_Container .name{
    font-size: 1rem;
}
/* navabr */

.dashboard_navbar ul, li, a {
    /* display: none; */
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
    /* background-color: ; */
}
.dashboard_navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
   
}

ul li:hover{
background-color: var(--second_color);
}
.icon{
    color: var(--first_color);
    font-size: x-large;
}
.currency{
    color: var(--second_color);
}

 
